<h1 >Movie Title</h1>
<div class="row custom">
    <div class="col-lg-6 col-md-12 col-sm-12 text-center custom-1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5W0l_xfqzvU?si=5Xp9VvvfijeKYUpP"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur adipisci sit vitae nihil accusamus, quos magnam animi iusto? Est recusandae totam voluptatem saepe ratione tenetur, iusto voluptas impedit tempora nisi!</p>
        <div class="row justify-content-center gap-2">
        <div class="card col-md-4 p-0" style="width: 12rem;" >
            <div class="card-header">
                Featured
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
        </div>
        <div class="card col-md-4 p-0" style="width: 12rem;">
            <div class="card-header">
                Featured
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
        </div>
        <div class="card col-md-4 p-0" style="width: 12rem;">
            <div class="card-header">
                Featured
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
        </div>
        
        </div>
    </div>
</div>
<hr>
<div class="row ">
    <h1>Actors</h1>
    <!-- <app-details-actors class="d-flex justify-content-between flex-wrap" ></app-details-actors> without scroll, new line -->
    <app-details-actors class="d-flex gap-4 justify-content-between" style="overflow-x: auto;"></app-details-actors>
</div>
<hr>
<br>
<div class="row ">
    <h1>Reviews</h1>
    <div class="col-md-12">
    <app-details-reviews></app-details-reviews>
    </div>
   
</div>
<app-details-movies></app-details-movies>







