<div *ngIf="selectedMovie" class="container" style="margin-top: 80px;">
    <h1 *ngIf="selectedMovie"> {{selectedMovie.title}}</h1>
    <div class="row custom">
        <div
            class="col-lg-6 col-md-12 col-sm-12 text-center custom-1 d-flex justify-content-lg-start justify-content-center ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5W0l_xfqzvU?si=5Xp9VvvfijeKYUpP"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <p>
                {{selectedMovie.overview}}
            </p>
            <span></span>
        </div>

    </div>
    <hr>
    <div class="row ">
        <h1>Actors</h1>
        <!-- <app-details-actors class="d-flex justify-content-between flex-wrap" ></app-details-actors> without scroll, new line -->
        <app-details-actors class="d-flex gap-4 justify-content-between" style="overflow-x: auto;"></app-details-actors>
    </div>
    <hr>
    <br>
    <div class="row ">
        <h1>Reviews</h1>
        <div class="col-md-12">
            <app-details-reviews></app-details-reviews>
        </div>

    </div>
    <hr>
    <br>
    <div class="row ">
        <h1 class="mb-4">Similar Movies</h1>
        <br>
        <div class="col-md-12">
            <app-details-movies></app-details-movies>

        </div>

    </div>

</div>