<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure><figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure><figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure text-center">
    <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2023/10/02/230842_1365400.jpeg"
        class="figure-img img-fluid rounded img-thumbnail" style="max-width: 120px;" alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>