<div class="container">
<div class="row ">
    <h1>Fan favorites</h1>
    <hr>
    <div class="row gy-5">
        <div class="card  col-md-3  ">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/adventure-movie-poster-template-design-7b13ea2ab6f64c1ec9e1bb473f345547_screen.jpg?ts=1636999411" alt="">
            <div class="card-body">
                <h5 class="card-title">"Titulli"</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    cards content.</p>

            </div>
            <div class="card-footer d-flex justify-content-between">

            </div>
        </div>
    </div>
</div>
</div>