/* You can add global styles to this file, and also import other style files */
$color-1 : #F875AA;
$color-2 : #FFDFDF;
$color-3 : #FFF6F6;
$color-4 : #AEDEFC;

h1 {
    color: $color-1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
