<div class="accordion" id="accordionExample">
    <div *ngFor="let r of review; let i = index"  class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne'+i"
                aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">
               <i class="bi bi-star"></i> <b> {{r.reviwe}}/10  </b>  Review #{{i+1}}
            </button>
        </h2>
        <div [id]="'collapseOne'+i" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>{{r.body}}</p>
                <p class="blockquote-footer">{{r.authorName}}</p>
                <p><i>{{r.useful}} out {{r.total}} find this useful</i></p>
            </div>
        </div>
    </div>
</div>